  <%= render 'layouts/jumbotron' %>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Admin Login</h3>
        </div>
        <div class="panel-body">
          Go to /admin to view admin panel <br>
          login as: admin@example.com <br>
          password : password
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Moderator Login</h3>
        </div>
        <div class="panel-body">
          click "Login" <br>
          login as: mod@example.com <br>
          password : password
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Author Login</h3>
        </div>
        <div class="panel-body">
          click "Login" <br>
          login as: auth@example.com <br>
          password : password
        </div>
      </div>
    </div>
  </div>
</div>
