<h1 class="text-center">Edit Post</h1>

<%= render 'form', post: @post %>
<br>

<div class="text-center">
  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>
<div class="text-center">
